:root {
	--header-font: arial, sans-serif;
	--body-font: georgia, serif;
}

.wp-block {
	max-width: 600px;
	padding: 12px;
}

.editor-styles-wrapper {
	.block-editor-block-list__layout {
		&.is-root-container {
			padding-left: 0;
			padding-right: 0;
		}

		* {
			line-height: 1.5;

			&:not( code ) {
				font-family: var( --body-font );
			}
		}

		.newspack-posts-inserter__header span,
		.components-button,
		.block-editor-block-list__block .components-placeholder,
		.block-editor-block-list__block .components-placeholder div {
			font-family: 'Noto Serif', helvetica, arial, sans-serif;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-family: var( --header-font );
			line-height: 1.5;
		}

		h1 {
			font-size: 2.44em;
			line-height: 1.24;
		}

		h2 {
			font-size: 1.95em;
			line-height: 1.36;
		}

		h3 {
			font-size: 1.56em;
			line-height: 1.44;
		}

		h4 {
			font-size: 1.25em;
			line-height: 1.6;
		}

		h5 {
			font-size: 1em;
		}

		h6 {
			font-size: 0.8em;
			line-height: 1.56;
		}

		a {
			font-family: inherit;
		}

		code {
			background: none;
			color: inherit;
		}

		.block-editor-block-list__block {
			margin-bottom: 0;
			margin-top: 0;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p {
			&.has-background {
				padding: 12px;
			}
		}

		.wp-block-group {
			padding-left: 0;
			padding-right: 0;

			&.has-background {
				padding-bottom: 0;
				padding-top: 0;
			}

			.block-list-appender {
				margin: 0 20px;
			}
		}

		.wp-block-buttons {
			font-weight: bold;
			text-align: center;

			.block-list-appender {
				margin: 0;
			}

			.wp-block-button__link {
				font-size: 1em;
				padding: 0.75em 1.5em;
			}
		}

		.wp-block-button {
			margin-left: auto !important;
			margin-right: auto !important;
			padding: 0;
		}

		.wp-social-link {
			border-radius: 19px;
			height: 38px;
			margin: 4px;
			padding: 7px;
			width: 38px;
		}

		.wp-block-quote {
			margin: 0;
			padding-left: 20px;

			p {
				margin: 0 0 12px;
			}

			&__citation {
				color: #767676;
				font-size: inherit;
				font-style: italic;
				margin-top: 0;
			}

			&.is-large,
			&.is-style-large {
				padding: 0;
			}
		}

		.wp-block-columns {
			padding: 0;

			.block-list-appender {
				margin: 0;
			}

			.components-placeholder {
				margin: 20px;
			}
		}

		.wp-block-column {
			&:not( :first-child ) {
				margin-left: 0;
			}

			.wp-block {
				padding: 0;

				&.has-background {
					padding: 12px;
				}
			}
		}

		.wp-block {
			&[data-type='core/list'] {
				padding: 12px;
				padding-left: calc( 12px + 1.3em );

				ol,
				ul {
					margin-left: 0;
					margin-right: 0;
				}
			}

			&[data-type='core/social-link'] {
				align-items: center;
				display: flex;
				justify-content: center;
				padding: 0;

				&:not( [contenteditable] ):focus::after {
					right: 0;
				}
			}

			&[data-type='core/separator'],
			.wp-block-separator {
				background: none !important;
				border-bottom: 1px solid;
				opacity: 1;
				padding-bottom: 12px;
				padding-top: 12px;

				&:not( .is-style-wide ):not( .is-style-dots ) {
					border-bottom-width: 1px;
					width: 128px;
				}

				hr {
					margin-bottom: 0;
					margin-top: 0;
				}
			}

			&[data-type='core/spacer'] {
				.components-resizable-box__container {
					margin-bottom: 0;
				}
			}

			&[data-align='full'] {
				margin: 0;
				padding: 0;

				.wp-block-group.has-background {
					padding-top: 12px;
					padding-bottom: 12px;
				}
			}

			&[data-align='center'] {
				.wp-block-social-links {
					margin-left: 8px;
					margin-right: 0;
				}
			}

			&[data-align='left'] {
				.wp-block-social-links {
					margin-left: 0;
				}
			}

			&[data-align='right'] {
				.wp-block-social-links {
					margin-right: 0;
				}
			}
		}
	}
}

.newspack-newsletters {
	&__modal {
		max-width: 360px;

		.components-button + .components-button {
			margin-left: 12px;
		}

		.components-notice {
			margin: 0;
		}
	}
}
