@import '~@wordpress/base-styles/colors';

.newspack-newsletters {
	&__editor-block {
		&__warning {
			display: block;
			color: #191e23;
			ul {
				margin: 0 !important;
			}
		}
	}

	&__loading-data {
		align-items: center;
		display: flex;

		.components-spinner {
			margin-top: 0;
		}
	}

	&__name-textcontrol {
		margin-top: 8px;
		&--separated {
			margin-top: 14px;
			padding-top: 8px;
			border-top: 1px solid $light-gray-500;
		}
	}

	&__subject-textcontrol,
	&__to-selectcontrol {
		.components-base-control__label {
			font-weight: 600;
		}
	}

	&__send-test {
		.components-button + .components-button {
			margin-left: 12px;
		}
	}

	&__pre-publish-errors {
		margin: 0;

		> li:last-child {
			margin-bottom: 0;
		}
	}

	&__error input.components-text-control__input {
		border-color: $alert-red;
	}

	&__disable-ads {
		margin-top: 2em;
	}
}

.editor-post-publish-panel__prepublish {
	.components-notice {
		margin: 0;
	}
}

.interface-interface-skeleton__sidebar {
	.components-notice {
		margin: 0;
	}
}
