.newspack-newsletters__modal {
	.components-notice {
		margin: 0 0 1em;
		ul {
			list-style-type: disc;
			margin-left: 1.3em;
		}
	}
	.modal-buttons {
		display: flex;
		justify-content: flex-end;
		margin-top: 1.3em;
		.components-button {
			margin-left: 0.7rem;
		}
	}
}
