a.newspack-button {
	display: inline-block;
	text-decoration: none;
}

.newspack-newsletters-ads {
	&__waiting {
		align-items: center;
		justify-content: center;
		display: flex;
		padding: 20px 0 40px 0;
	}
}

#newspack-newsletters-ads-admin {
	.newspack-action-card__secondary_button {
		cursor: pointer;
	}
}
