a.newspack-button {
	display: inline-block;
	text-decoration: none;
}

// TODO: Fix ActionCard in newspack-components
.newspack-card:not( .newspack-card__no-background )
	.newspack-card.newspack-action-card.newspack-card__is-secondary {
	border-left: 4px solid orange;
}
