@import '~@wordpress/base-styles/colors';

// Modal
.newspack-newsletters-modal {
	&__screen-overlay {
		animation: none;
		background: white;
		top: 46px;

		@media only screen and ( min-width: 783px ) {
			left: 36px;
			top: 32px;

			// Fullscreen mode
			.is-fullscreen-mode & {
				left: 60px;
				top: 0;

				.components-modal__header {
					height: 61px;
				}
			}
		}

		@media only screen and ( min-width: 961px ) {
			// Not folded sidebar
			body:not( .folded ):not( .is-fullscreen-mode ) & {
				left: 160px;
			}
		}
	}

	&__frame {
		animation: none;
		border: 0;
		bottom: 0;
		box-shadow: none;
		height: 100%;
		left: 0;
		max-height: 100%;
		max-width: 100%;
		min-height: 100%;
		min-width: 100%;
		overflow-y: hidden;
		right: 0;
		top: 0;
		transform: none;
		width: 100%;

		.components-modal__header-heading {
			display: none;
			font-size: 0.8rem;
			line-height: 1.25;

			@media only screen and ( min-width: 600px ) {
				display: block;
			}

			@media only screen and ( min-width: 783px ) {
				font-size: 1rem;
				line-height: 1;
			}
		}
	}

	&__content {
		background: white;
		height: calc( 100% - 36px );
		margin: -24px;

		@media only screen and ( min-width: 600px ) {
			display: grid;
			grid-auto-rows: calc( 100% - 48px );
			gap: 0;
			grid-template-columns: 1fr 2fr;
			grid-template-rows: 1fr;
		}

		@media only screen and ( min-width: 783px ) {
			// Fullscreen mode
			.is-fullscreen-mode & {
				bottom: 0;
				height: calc( 100vh - 61px );
				left: 0;
				margin: 0;
				position: fixed;
				right: 0;
				top: 61px;
			}
		}
	}

	&__action-buttons {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		position: absolute;
		right: 24px;
		top: 12px;
		z-index: 11;

		.separator {
			margin-left: 6px;
			margin-right: 6px;
		}
	}

	&__settings {
		align-items: flex-start;
		display: flex;
		justify-content: center;

		@media only screen and ( min-width: 600px ) {
			display: flex;
		}

		&-wrapper {
			flex: 0 0 100%;
			position: relative;

			@media only screen and ( min-width: 600px ) {
				margin-left: auto;
				margin-right: auto;
				max-width: 600px;
			}
		}

		h4:first-of-type {
			margin-top: 0;
		}

		.components-spinner {
			left: 50%;
			margin: -9px 0 0 -9px;
			margin-left: -9px;
			position: absolute;
			top: 50%;
		}

		.error {
			color: $alert-red;
		}

		.components-base-control {
			&.has-error {
				input[type='text'] {
					border-color: $alert-red;
				}
			}
		}
	}

	&__in-flight {
		pointer-events: none;

		> div > *:not( .components-spinner ) {
			opacity: 0.3;
		}
	}

	&__layouts {
		grid-column-start: 1;
		overflow-y: scroll;
		max-height: 100%;
		padding: 20px;

		&--loading {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.newspack-newsletters-layouts {
			display: grid;
			gap: 16px;
			grid-template-columns: repeat( 2, 1fr );
			grid-auto-rows: minmax( min-content, max-content );
			overflow: hidden;
			padding: 0;

			@media only screen and ( min-width: 600px ) {
				grid-template-columns: 1fr;
			}

			@media only screen and ( min-width: 783px ) {
				grid-template-columns: repeat( 2, 1fr );
			}

			&__item {
				cursor: pointer;
				margin: 0;
				width: 100%;
				text-align: center;

				&.is-active {
					.newspack-newsletters-layouts__item-preview {
						pointer-events: none;
						border-color: currentColor;
						position: relative;

						&::before {
							border: 1px solid;
							bottom: 0;
							content: '';
							display: block;
							left: 0;
							position: absolute;
							right: 0;
							top: 0;
							z-index: 1;
						}
					}
				}

				button {
					margin: 0;
					height: 20px;
					&.is-destructive {
						color: $alert-red;
					}
				}
			}

			&__item-preview {
				background: white;
				border: 1px solid $light-gray-500;
				border-radius: 2px;
				overflow: hidden;
				padding: 0 0 calc( 100% - 2px );
				position: relative;
				width: 100%;

				&:hover,
				&:focus {
					border-color: $blue-medium-focus;
				}

				.block-editor-block-preview__container {
					position: absolute;
					top: 0;
				}
			}

			&__item-label {
				padding: 4px 2px;
				text-align: center;
			}
		}
	}

	&__preview {
		grid-column-start: 2;
		grid-row-start: 1;
		grid-row-end: 3;
		align-items: center;
		background: white;
		border: 1px solid $light-gray-500;
		border-top: none;
		display: none;
		justify-content: center;
		overflow-y: scroll;
		position: relative;

		@media only screen and ( min-width: 600px ) {
			display: flex;
		}

		.block-editor-block-preview {
			&__container {
				align-self: flex-start;
				margin: 0 auto;
				max-width: 600px;
			}
		}
	}
}

// Buttons group
.newspack-newsletters-buttons-group {
	display: flex;
	justify-content: space-around;
	&--spaced {
		margin-left: -5px;
		margin-right: -5px;
		button {
			margin-left: 5px;
			margin-right: 5px;
			justify-content: center;
		}
	}
	button {
		flex: 1;
	}
}

// Tabs
.newspack-newsletters-tabs {
	&__button {
		min-height: 48px;
		padding: 6px 20px;
		position: relative;
		border-radius: 0;
		&:focus:not( :disabled ) {
			outline: none;
			box-shadow: none;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: $light-gray-500;
		}
		&--is-active::after {
			height: 3px;
			background-color: $blue-medium-focus;
		}
	}
}

// Posts Inserter - Preview
.block-editor-block-preview__container {
	.wp-block[data-type='newspack-newsletters/posts-inserter'] {
		padding: 0;
	}

	.newspack-posts-inserter {
		border: 0;
		padding: 0;

		&__header,
		&__footer {
			display: none;
		}

		&__preview {
			border: 0;
			margin: 0;
		}

		.block-editor-block-preview__container {
			height: 100% !important;
			max-height: 100%;

			.newspack-newsletters-modal__layouts & {
				position: relative;
			}
		}

		.block-editor-block-preview__content {
			transform: scale( 1 ) !important;
			width: 600px !important;
		}
	}
}
