.newspack-newsletters {
	&__list-select {
		position: relative;

		.components-spinner {
			float: none;
			left: 50%;
			margin: 0;
			position: absolute;
			top: 50%;
			transform: translateX( -50% );
		}
	}
}
