@import '~@wordpress/base-styles/colors';

.post-type-newspack_nl_cpt {
	.is-mode-visual {
		.edit-post-visual-editor__post-title-wrapper {
			margin-top: var( --wp--style--block-gap );
		}

		.editor-post-title {
			background: white;
			border-radius: 1px;
			color: $gray-900;
			font-family: sans-serif;
			font-size: 1em;
			font-style: normal;
			font-weight: normal;
			line-height: 1.5;
			position: relative;

			&::before {
				content: attr( aria-label );
				display: block;
				font-size: 13px;
				font-weight: bold;
				line-height: 1.5;
				text-transform: uppercase;
			}
		}
	}

	.components-button.editor-post-publish-button__button.is-primary {
		display: none;
	}

	.editor-post-switch-to-draft {
		display: none;
	}

	.newspack-newsletters-buttons-group {
		display: flex;
		flex-wrap: wrap;
		gap: 12px;
	}
}
