@use '~@wordpress/base-styles/colors' as wp-colors;

.newspack-newsletters-subscribe {
	form {
		width: 100%;
		align-items: center;
		margin: 0;

		@media ( min-width: 782px ) {
			display: flex;
		}
	}
	.newspack-newsletters-email-input {
		display: flex;
		flex: 1 1 100%;
		flex-wrap: wrap;
		gap: 0.5rem;

		@media ( min-width: 782px ) {
			gap: 0.4rem;
		}
	}
	input[type='email'] {
		flex: 1 1 100%;

		@media ( min-width: 782px ) {
			flex-basis: auto;
		}

		&[aria-hidden='true'] {
			width: 0;
		}
	}
	input[type='submit'] {
		background-color: #d33;
		color: white;
		flex: 1 1 100%;

		@media ( min-width: 782px ) {
			flex: 0 0 auto;
		}
	}
	input[disabled] {
		opacity: 0.5;
	}
	// .newspack-newsletters-lists {
	// 	list-style: none;
	// 	margin: 0 0 0.8rem;
	// 	padding: 0;
	// 	display: flex;
	// 	font-size: 0.8rem;
	// 	flex-wrap: wrap;
	// 	li {
	// 		flex: 1 1 33.3333%;
	// 		display: flex;
	// 		min-width: 200px;
	// 		box-sizing: border-box;
	// 		margin: 0;
	// 		padding: 0 1.4rem 1rem 0;
	// 	}
	// 	.list-checkbox {
	// 		flex: 0 0 auto;
	// 		margin: 0 0.5rem 0 0;
	// 	}
	// 	.list-title {
	// 		display: block;
	// 	}
	// 	.list-description {
	// 		display: block;
	// 		font-size: 0.8rem;
	// 		color: wp-colors.$gray-700;
	// 		margin: 0;
	// 	}
	// }

	.newspack-newsletters-lists {
		border: 1px solid wp-colors.$gray-200;
		border-radius: 2px;
		box-sizing: border-box;
		flex: 1 1 100%;
		font-size: 0.8rem;
		margin-bottom: 0.8rem;
		padding: 0.5em;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			min-width: 100%;
			li {
				flex: 1 1 33.3333%;
				display: flex;
				min-width: 142px;
				box-sizing: border-box;
				margin: 0.5em;
				padding: 0;
			}
		}

		.list-checkbox {
			align-items: center;
			display: flex;
			flex: 0 0 auto;
			height: 1.6em;
			margin: 0 0.5rem 0 0;
		}

		.list-title {
			display: block;
		}

		.list-description {
			display: block;
			font-size: 0.8rem;
			color: wp-colors.$gray-700;
			margin: 0;
		}
	}

	.newspack-newsletters-subscribe-response {
		font-size: 0.8rem;
		color: wp-colors.$alert-red;

		p {
			margin: 0.5rem 0 0;
		}
	}
	&.multiple-lists {
		form {
			display: block;
		}
		.newspack-newsletters-email-input {
			margin-right: 0;
		}
	}
	.nphp {
		border: 0;
		clip: rect( 1px, 1px, 1px, 1px );
		clip-path: inset( 50% );
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute !important;
		width: 1px;
		word-wrap: normal !important;
	}
}
