.newspack-newsletters-subscribe {
	form {
		width: 100%;
		display: flex;
		align-items: center;
		margin: 0;
	}
	&.multiple-lists {
		form {
			display: block;
		}
	}
	.newspack-newsletters-email-input {
		flex: 1 1 100%;
	}
	input[type='email'] {
		width: 100%;
		min-width: 250px;
		margin-right: 1em;
	}
	.newspack-newsletters-lists {
		list-style: none;
		margin: 1rem 0;
		padding: 0;
		li {
			display: flex;
			margin: 0 0 1rem;
			.list-checkbox {
				flex: 0 0 auto;
				margin-right: 1rem;
			}
		}
		p {
			font-size: 0.8em;
			color: #777;
			margin: 0;
		}
	}
}
