.newspack-newsletters-subscribe {
	form {
		width: 100%;
		display: flex;
		align-items: center;
		margin: 0;
	}
	&.multiple-lists {
		form {
			display: block;
		}
	}
	.newspack-newsletters-email-input {
		flex: 1 1 100%;
	}
	input[type='email'] {
		width: 100%;
		min-width: 250px;
		margin-right: 1em;
	}
	.newspack-newsletters-lists {
		list-style: none;
		margin: 1rem 0;
		padding: 0;
		display: flex;
		font-size: 0.8rem;
		li {
			display: flex;
			margin: 0 1.4rem 1rem 0;
			flex-wrap: wrap;
		}
		.list-checkbox {
			flex: 0 0 auto;
			margin: 0.2rem 0.5rem 0 0;
		}
		.list-title {
			display: block;
		}
		.list-description {
			display: block;
			font-size: 0.8rem;
			color: #777;
			margin: 0;
		}
	}
}
