.newspack-newsletters-constant_contact-lists {
	max-height: 14em;
	overflow-y: auto;
}

.newspack-newsletters-cc__send-mode {
	width: 100%;
	margin-bottom: 12px;
}

.newspack-newsletters-cc__send-mode .newspack-newsletters-cc__send-mode-button {
	width: 50%;
	display: inline;
}
