@import '~@wordpress/base-styles/colors';

.newspack-completer-mc-merge-tags {
	code {
		color: $gray-900;
		display: inline-block;
	}
	p {
		color: $gray-700;
		font-size: 12px;
		margin: 8px 0 0;
	}
}
