.newspack-newsletters__date-picker {
	&--has-no-date {
		.CalendarDay__selected {
			background: #c3c3c3;
			&:hover {
				background: #9e9e9e;
			}
		}
	}
	.CalendarMonth {
		padding: 0 !important;
	}
}
