.newspack-newsletters-modal {
	&__screen-overlay {
		animation: none;
		background: white;
		margin-top: 46px;

		@media only screen and ( min-width: 783px ) {
			margin-left: 36px;
			margin-top: 32px;

			// Fullscreen mode
			.is-fullscreen-mode & {
				margin-left: 0;
				margin-top: 0;
			}
		}

		@media only screen and ( min-width: 961px ) {
			// Not folded sidebar
			body:not( .folded ) & {
				margin-left: 160px;
			}
		}
	}

	&__frame {
		animation: none;
		border: 0;
		bottom: 0;
		box-shadow: none;
		height: 100%;
		left: 0;
		max-height: 100%;
		max-width: 100%;
		min-height: 100%;
		min-width: 100%;
		overflow-y: hidden;
		right: 0;
		top: 0;
		transform: none;
		width: 100%;

		.is-primary {
			position: absolute;
			right: 24px;
			top: 12px;
			z-index: 11;
		}
	}

	&__content {
		align-items: center;
		background: aliceblue; // test
		display: flex;
		height: calc( 100% - 24px - 60px );
		justify-content: center;
		img {
			max-width: 250px;
		}
		li.selected {
			background-color: lightgray;
		}
	}
}
