@import '~@wordpress/base-styles/colors';

.newspack-newsletters__editor-block.newsletters-block-visibility__web,
.newspack-newsletters__editor-block.newsletters-block-visibility__email {
	box-shadow: 0 0 0 2px $alert-yellow;
	border-radius: 3px;
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0 !important;
	transition: border-radius 0.2s ease-in-out;
	.newsletters-block-visibility-label {
		z-index: 10;
		display: flex;
		align-items: center;
		background: $alert-yellow;
		color: #fff;
		position: absolute;
		top: 100%;
		right: -2px;
		height: 15px;
		margin-top: -13px;
		padding: 0 3px;
		line-height: 1;
		font-size: 10px;
		border-radius: 3px 0 3px 0;
		transition: border-radius 0.2s ease-in-out, margin 0.2s ease-in-out;
		pointer-events: none;
		svg {
			margin-right: 2px;
			fill: #fff;
		}
	}
	&.newsletters-block-selected {
		border-radius: 3px 3px 0 3px;
		> .newsletters-block-visibility-label {
			margin-top: 0;
			border-radius: 3px 0 3px 3px;
		}
	}
}
