.wp-block {
	max-width: 568px;
}

.block-editor-block-list__layout {
	*:not( code ) {
		font-family: Ubuntu, Helvetica, Arial, sans-serif !important;
	}

	code {
		background: none;
		color: inherit;
	}
}

.wp-block-buttons .block-editor-block-list__layout {
	display: flex;
	justify-content: space-between;
}

.newspack-newsletters {
	&__editor-block {
		&__warning {
			display: block;
			color: #191e23;
			ul {
				margin: 0 !important;
			}
		}
	}

	&__loading-data {
		align-items: center;
		display: flex;

		.components-spinner {
			margin-top: 0;
		}
	}

	&__name-textcontrol {
		margin-top: 8px;
	}

	&__subject-textcontrol,
	&__to-selectcontrol {
		.components-base-control__label {
			font-weight: 600;
		}
	}

	&__send-test {
		.components-button + .components-button {
			margin-left: 12px;
		}
	}
}

.editor-post-publish-panel__prepublish {
	.components-notice {
		margin: 0;
	}
}
