// Hide the editor Preview UI
.editor-post-preview__dropdown {
	display: none;
}

.editor-post-title {
	display: none;
}

.wp-block-button {
	margin-left: auto !important;
	margin-right: auto !important;
}

.wp-block-column {
	> :first-child {
		> .wp-block-image {
			margin-top: 0;
		}
	}
}
