@import '~@wordpress/base-styles/colors';

.newspack-posts-inserter {
	border: 1px solid $dark-gray-primary;
	border-radius: 2px;
	padding: 1em 0;

	&__header {
		align-items: center;
		display: flex;
		padding: 0 1em;
		position: relative;
		z-index: 1;

		svg {
			margin-right: 1ch;
		}

		span {
			font-size: 18pt;
		}
	}

	&__preview {
		border: 0 solid $dark-gray-primary;
		border-width: 1px 0;
		margin: 1em 0;

		&:empty {
			border: 0;
		}

		.block-editor-block-preview {
			&__container {
				max-height: 400px;
				overflow: scroll;
			}

			&__content {
				position: relative;
			}
		}
	}

	.components-button {
		margin: 0 1em;
	}
}

// FormTokenField

.newspack-newsletters-query-controls {
	.components-form-token-field__help {
		display: none;
	}
}
