@use "~@wordpress/base-styles/colors" as wp-colors;
@use "~@wordpress/base-styles/variables" as wp-vars;

:root {
	--newspack-post-inserter-width: 574px;
}

.editor-styles-wrapper .block-editor-block-list__layout .wp-block.newspack-posts-inserter {
	padding: 0;

	+ .wp-block.newspack-posts-inserter {
		margin-top: 12px;
	}
}

.newspack-posts-inserter {
	border: 1px solid wp-colors.$gray-900;
	border-radius: wp-vars.$radius-small;

	&__font-size-picker {
		> .components-base-control__field > .components-base-control__label {
			margin-bottom: -16px !important;
		}
		.components-font-size-picker__header .components-base-control__label {
			opacity: 0;
		}
	}

	&--loading {
		.newspack-posts-inserter__preview {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&__preview {
		min-height: 6rem;

		&:empty {
			border: 0;
			min-height: 0;
		}

		.block-editor-block-preview {
			&__container {
				overflow-x: hidden;
				overflow-y: scroll;
			}

			&__content {
				position: relative;

				.editor-styles-wrapper.wp-embed-responsive {
					background: transparent;
				}
			}
		}

		&.image-left,
		&.image-right {
			.block-editor-block-preview__content {
				@media only screen and ( min-width: 624px ) {
					margin-left: calc(var(--newspack-post-inserter-width) / -2);
					padding: 14px;
					transform: scale(1) !important;
					transform-origin: 0 50% 0;
				}
			}
		}

		&.image-top {
			padding: 14px 0;
		}
	}
}

// FormTokenField

.newspack-newsletters-query-controls {
	.components-form-token-field__help {
		display: none;
	}
}


.wp-block-heading a {
	color: inherit;
}
