@use "~@wordpress/base-styles/colors" as wp-colors;

.newspack-posts-inserter {
	&__header {
		background: white;
		border: 1px solid wp-colors.$gray-900;
		border-radius: 2px 2px 0 0;
		padding: 18px 24px;
		position: relative;
		z-index: 1;

		span {
			font-size: 13px;
			font-weight: 600;
		}
	}

	&--loading {
		.newspack-posts-inserter__preview {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&__preview {
		border: 0 solid wp-colors.$gray-900;
		border-radius: 0 0 2px 2px;
		border-width: 0 1px 1px;
		min-height: 200px;

		&:empty {
			border-width: 0;
			margin-bottom: -1px;
			min-height: 0;
		}

		.block-editor-block-preview {
			&__container {
				overflow-y: scroll;
			}

			&__content {
				position: relative;

				.editor-styles-wrapper.wp-embed-responsive {
					background: transparent;
				}
			}
		}

		&.image-left,
		&.image-right {
			.block-editor-block-preview__content {
				@media only screen and ( min-width: 624px ) {
					transform: scale(1) translateX(-50%) !important;
					transform-origin: 0 50% 0;
				}
			}
		}
	}
}

// FormTokenField

.newspack-newsletters-query-controls {
	.components-form-token-field__help {
		display: none;
	}
}


.wp-block-heading a {
	color: inherit;
}
