@import '~@wordpress/base-styles/colors';

:root {
	--newspack-post-inserter-width: 574px;
}

.newspack-posts-inserter {
	border: 1px solid $gray-900;
	border-radius: 2px;
	padding: 0;

	&__header {
		align-items: center;
		background: white;
		border-bottom: 1px solid $gray-900;
		display: flex;
		padding: 1em;
		position: relative;
		z-index: 1;

		span {
			font-size: 18pt;
			margin-left: 1ch;
		}
	}

	&__footer {
		background: white;
		border-top: 1px solid $gray-900;
		padding: 1em;
	}

	&__preview {
		align-items: center;
		display: flex;
		justify-content: center;
		min-height: 4rem;

		&:empty {
			border: 0;
			min-height: 0;
		}

		.block-editor-block-preview {
			&__container {
				max-height: 400px;
				overflow-y: scroll;
			}

			&__content {
				position: relative;

				.editor-styles-wrapper.wp-embed-responsive {
					background: transparent;
				}
			}
		}

		&.image-left,
		&.image-right {
			.block-editor-block-preview__content {
				@media only screen and ( min-width: 624px ) {
					margin-left: calc( var( --newspack-post-inserter-width ) / -2 );
					transform: scale( 1 ) !important;
					transform-origin: 0 50% 0;
				}
			}
		}
	}
}

// FormTokenField

.newspack-newsletters-query-controls {
	.components-form-token-field__help {
		display: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	&.block-editor-rich-text__editable a {
		color: inherit;
	}
}
