@use "~@wordpress/base-styles/colors" as wp-colors;
@use "~@wordpress/base-styles/variables" as wp-vars;

.newspack-newsletters-layouts {
	&__spinner {
		text-align: center;
		padding: wp-vars.$grid-unit-50 wp-vars.$grid-unit-15;
	}

	&__item {
		width: 100%;
	}

	&__item-preview {
		aspect-ratio: 1;
		background: wp-colors.$white;
		border: 1px solid wp-colors.$gray-200;
		border-radius: wp-vars.$grid-unit-05;
		box-sizing: border-box;
		overflow: hidden;
		position: relative;

		.block-editor-block-preview__content {
			left: 0;
			margin: 0;
			min-height: auto;
			overflow: visible;
			top: 0;
			transform-origin: top left;
			width: 100%;
		}

		.block-editor-iframe__container {
			height: 100%;
			width: 100%;
		}

		.block-editor-iframe__scale-container {
			height: 100%;
		}
	}

	&__item-label {
		align-items: center;
		display: flex;
		margin-top: wp-vars.$grid-unit-10;
		min-height: wp-vars.$grid-unit-30;

		&:empty {
			display: none;
		}
	}
}
